/*font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;*/

#week2 {
    margin: auto;
    z-index: 1;
}

#wk2-words {
    margin-left: 48px;
    margin-bottom: 9px;
    padding-top: 166px;
    position: absolute;
    color: #d2d8c7;
}

.steve-pic {
  /*opacity: 0.6;*/
  width: 100%;
  z-index: -1;
  position: absolute;
}

.steve-pic-article {
  z-index: -1;
  background-image: url("Steve.png");
  background-repeat: no-repeat;
  opacity: 0.6;
  width: 100%;
}

#steve1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 24px;
    padding-left: 85px;
    font-weight: 100;
}
#steve2 {
    font-family: 'Vollkorn', serif;
    margin: 0;
    font-size: 60px;
    line-height: 32px;
}

#steve3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    padding-left: 3px;
}
#steve4 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 24px;
    line-height: 0px;
    padding-left: 48px;
    font-weight: 100;
}

#steve5 {
  font-family: 'Vollkorn', serif;
    margin: 0;
    font-size: 94px;
        padding-left: 26px;
}
